<html>

<head>
  <title>{{ meta.title }}</title>
</head>

<body>
  {% include 'header' %}
  <main>
    <h1>{{ fields.header }}</h1>
    <div>{{ fields.content }}</div>
    {% include 'post_list' %}
  </main>
</body>

</html>